* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-transform: capitalize;
}

input {
  text-transform: none;
}

.inforpage {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.inforpage .center {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.inforpage h1 {
  text-shadow: 5px 5px 2px #5d5f5f;
}

.inforpage p {
  text-shadow: 5px 5px 2px #5d5f5f;
}

.inforpage .page {
  width: 50%;
  -webkit-box-shadow: 1px 1px 20px #acacac;
          box-shadow: 1px 1px 20px #acacac;
  background-color: white;
  padding-bottom: 30px;
  border-radius: 10px;
}

.inforpage .page form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: auto auto;
  padding: 0 10px;
}

.inforpage .page form input {
  margin-bottom: 10px;
  width: 100%;
}

.inforpage .page form button {
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: tomato;
}

.inforpage .page form select option {
  width: 100%;
}

.home {
  width: 100%;
  min-height: 100vh;
}

.gridmine {
  width: 80%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 15px;
}

.job {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px black;
          box-shadow: 0px 0px 6px black;
}

.job > * {
  margin-left: 10px;
}

.job .positions {
  font-size: 1.05em;
  font-weight: bold;
}

.job h2 {
  font-size: 0.9em;
  font-weight: 600;
  color: #1c1c1c;
}

.job div p {
  font-size: 0.9em;
  font-weight: 650;
  color: #3f3f3f;
  background-color: #646464;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.job div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.job div > *:nth-child(2) {
  margin-right: 44px;
}

.job .status {
  font-size: 0.6em;
  padding-bottom: 20px;
}

.adminemployer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.adminemployer > *:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.adminsec {
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: fixed;
}

.adminsec .gridlo img {
  width: 40px;
}

.adminsec .gridlo > *:nth-child(1) {
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #58ca8b;
}

.adminsec .gridlo > *:nth-child(1):active {
  width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.adminsec .gridlo > *:nth-child(2) {
  border: 1px solid brown;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #58ca8b;
}

.adminsec .gridlo > *:nth-child(2):active {
  width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.adminsec .gridlo {
  width: 100%;
  background-color: #5858ca;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.jobedit {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.sendtoback {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-top: 10px;
  overflow-y: scroll;
}

.description {
  width: 95%;
  height: 60%;
  overflow-y: scroll;
}

.description:hover {
  background-color: #d1d1d1;
}

.sendtoback p span {
  width: 30px;
  border-bottom: 1px solid grey;
  margin-left: 10px;
}

.sendtoback p span :hover {
  background-color: #999999;
  color: #15ff00;
}

.sendtoback > * {
  margin-bottom: 10px;
}

.sendnodes {
  width: 200px;
  background-color: tomato;
  margin-top: 10px;
  margin-left: 23%;
  border: none;
}

.descriptionpp {
  text-align: justify;
}

.description {
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */